<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HogaPlacement</title>
</head>
<body>
    <div class="offCampus-create">
        <form action="/create/offcampus" method="POST" class="offcampus-form">
            <label for="title">title</label>
            <input type="text" name="title">
            <label for="description">description</label>
            <input type="text" name="description">
            <label for="validity">validity</label>
            <input type="text" name="validity">
            <label for="link">link</label>
            <input type="text" name="link">
            <button type="submit">submit</button>
        </form>
    </div>
    <div class="onCampus-create">
        <form action="/create/oncampus" method="POST" class="oncampus-form">
            <label for="title">title</label>
            <input type="text" name="title">
            <label for="description">description</label>
            <input type="text" name="description">
            <label for="validity">validity</label>
            <input type="text" name="validity">
            <label for="link">link</label>
            <input type="text" name="link">
            <label for="college">collge</label>
            <input type="text" name="college">
            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>