<%- include("header") %>

<!-- BODY -->



<section id="language">
    <h1><u>7 Best Coding Platforms</u></h1>
<div class="container">
    <!--<ul class="list-inline">
    <li>-->
    <div class = "box" style="height: 330px;">
        <div class="content">
          <h2>01</h2>
          <h3 style="font-size: 32px;">Codechef</h3>
            <p>Want to start competitive coding with Codechef?</p>
            <a href="https://www.codechef.com/">Know More</a><br>
           
        </div>
    </div>
    <div class = "box" style="height: 330px;">
        <div class="content">
            <h2>02</h2>
            <h3 style="font-size: 32px;">HackerRank</h3>
            <p>Want to start competitive coding with HackerRank?</p>
            <a href="https://www.hackerrank.com/">Know More</a>
            
        </div>
    </div>
   
    <div class = "box" style="height: 330px;">
        <div class="content">
            <h2>03</h2>
            <h3 style="font-size: 32px;">Codeforces</h3>
            <p>Want to start competitive coding with Codeforces?</p>
            <a href="https://codeforces.com/">Know More</a>
            
        </div>
    </div>
    
    <div class = "box" style="height: 330px;">
        <div class="content">
            <h2>04</h2>
            <h3 style="font-size: 32px;">HackerEarth</h3>
            <p>Want to start competitive coding with HackerEarth?</p>
            <a href="https://www.hackerearth.com/">Know More</a>
            
        </div>
    </div>
</div>
</section>
<section id="language">

<div class="container">
    <!--<ul class="list-inline">
    <li>-->
    <div class = "box" style="height: 330px;">
        <div class="content">
          <h2>05</h2>
          <h3 style="font-size: 32px;">Leetcode</h3>
            <p>Want to start competitive coding with Leetcode?</p>
            <a href="https://leetcode.com/">Know More</a><br>
            
        </div>
    </div>
    <div class = "box" style="height: 330px;">
        <div class="content">
            <h2 style="left: 50px;">06</h2>
            <h3 style="font-size: 32px;">GeeksForGeeks</h3>
            <p style = "margin-left: 8px;">Want to start competitive coding with GeeksForGeeks?</p>
            <a href="https://practice.geeksforgeeks.org/topic-tags/" style="left: 25px;">Know More</a>
           
        </div>
    </div>
   
    <div class = "box" style="height: 330px;">
        <div class="content">
            <h2>07</h2>
            <h3 style="font-size: 32px;">Pepcode</h3>
            <p>Want to start competitive coding with Pepcode?</p>
            <a href="https://www.pepcoding.com/resources/">Know More</a>
           
        </div>
    </div>
</div>
</section>








<%- include("footer") %>