<%- include("header") %>

<!-- BODY -->

<section id="language">

    <div class="container">
        <!--<ul class="list-inline">
        <li>-->
        <div class = "box">
            <div class="content">
                <h2>01</h2>
                <h3>Web Developement</h3>
                <p >Want to become Full Stack Developer?</p>
                <a href="https://www.w3schools.com/">Resources</a><br>
                <a href="https://www.youtube.com/watch?v=6mbwJ2xhgzM&list=PLu0W_9lII9agiCUZYRsvtGTXdxkzPyItg">Videos</a>
            </div>
        </div>
        <div class = "box" >
            <div class="content">
                <h2>02</h2>
                <h3>Android Developement</h3>
                <p>Want to become Android Developer?</p>
                <a href="https://www.javatpoint.com/android-tutorial">Resources</a>
                <a href="https://www.youtube.com/watch?v=mXjZQX3UzOs">Videos</a>
            </div>
        </div>
       
        <div class = "box">
            <div class="content">
                <h2 >03</h2>
                <h3>Machine Learning</h3>
                <p>Want to become Machine Learning Developer?</p>
                <a href="https://www.geeksforgeeks.org/machine-learning/?ref=shm">Resources</a>
                <a href="https://www.youtube.com/watch?v=GwIo3gDZCVQ">Videos</a>
            </div>
        </div>
        
        <div class = "box">
            <div class="content">
                <h2>04</h2>
                <h3>Artificial Intelligence</h3>
                <p>Want to become Artificial Intelligence Developer?</p>
                <a href="https://www.javatpoint.com/artificial-intelligence-tutorial">Resources</a>
                <a href="https://www.youtube.com/watch?v=JMUxmLyrhSk">Videos</a>
            </div>
        </div>
    
    </div>
    </section>






<!-- -->

<%- include("footer") %>