<%- include("header") %>

<!-- BODY -->

<section id="language">

<div class="container">
    <!--<ul class="list-inline">
    <li>-->
    <div class = "box">
        <div class="content">
            <img  class = "c" src="../images/clang.png" alt="" ><br><br><br>
            <h3>Coding in C</h3>
            <p>Want to start your coding journey with C?</p>
            <a href="https://www.geeksforgeeks.org/c-programming-language/">Resources</a><br>
            <a href="https://youtube.com/playlist?list=PLe_7x5eaUqtWp9fvsxhC4XIkoR3n5A-sF">Videos</a>
        </div>
    </div>
    <div class = "box">
        <div class="content">
            <img class="cpp" src="../images/cpp.png" alt=""><br><br><br>
            <h3>Coding in Cpp</h3>
            <p>Want to start your coding journey with C++?</p>
            <a href="https://www.javatpoint.com/cpp-tutorial">Resources</a>
            <a href="https://youtube.com/playlist?list=PLfqMhTWNBTe0b2nM6JHVCnAkhQRGiZMSJ">Videos</a>
        </div>
    </div>
   
    <div class = "box">
        <div class="content">
            <img class = "python" src="../images/python.png" alt=""><br><br><br><br>
            <h3>Coding in Python</h3>
            <p>Want to start your coding journey with Python?</p>
            <a href="https://www.javatpoint.com/python-tutorial">Resources</a>
            <a href="https://youtube.com/playlist?list=PLsyeobzWxl7poL9JTVyndKe62ieoN-MZ3">Videos</a>
        </div>
    </div>
    
    <div class = "box">
        <div class="content">
            <img  class="java" src="../images/java.png" alt=""><br><br><br>
            <h3>Coding in Java</h3>
            <p>Want to start your coding journey with Java?</p>
            <a href="https://www.javatpoint.com/java-tutorial">Resources</a>
            <a href="https://youtube.com/playlist?list=PLBlnK6fEyqRjKA_NuK9mHmlk0dZzuP1P5">Videos</a>
        </div>
    </div>

</div>
</section>






<!-- -->

<%- include("footer") %>
