<%- include("header") %>
<section style="margin: auto;width: 50%;" id="about">
    <div class="container">
         <div class="row">
              <div class="col-md-offset-1 col-md-4 col-sm-12">
                   <div class="entry-form">
                        <form action="#" method="post">
                             <h2>User Login</h2>
                            <input type="email" name="email" class="form-control" placeholder="Your email address" required="">
                             <input type="password" name="password" class="form-control" placeholder="Your password" required="">

                             <button class="submit-btn form-control" id="form-submit">Login...</button>
                        </form>
                        <p>Don't have an account?</p>
                        <a style="color: aliceblue;" href="/signup">Sign up Now!</a>
                   </div>
              </div>

         </div>
    </div>
</section>

<%- include("footer") %>