<%- include("header") %>
<% if(<%=verified%> =="true") {%> 
<div class="serv">
     <ul>
          <div class="container">
               <div class="row">
                    <!-- the li items will be under the for loop -->
                    <li >
                         <div class="col-md-4 col-sm-4" >
                              <div class="feature-thumb" >
                                   <span>01</span>
                                   <h3>Company: Microsoft</h3>
                                   <h3>Package: 10 lpa</h3>
                                   <h3>JD: Software Engineer</h3>
                                   <h3>Link: <a href=""> Click me!</a></h3>
                              </div>
                         </div>

                    </li>
      
               </div>    
          </div>
     </ul>
</div>
<% } else{ %>  
     <section style="margin: auto;width: 50%;" id="about">
          <div class="container">
               <div class="row">
                    <div class="col-md-offset-1 col-md-4 col-sm-12">
                         <div class="entry-form">
                              <form action="/verification" method="post">
                                   <h2>Get Verified First!</h2>
                                  <input type="text" name="name" class="form-control" placeholder="Your full name" required="">
                                  <input type="text" name="roll" class="form-control" placeholder="Your roll number" required="">
                                  <input type="text" name="dept" class="form-control" placeholder="Your department name" required="">
                                   <button class="submit-btn form-control" id="form-submit">Verify by Admin</button>
                              </form>
                              <p>Don't have an account?</p>
                              <a style="color: aliceblue;" href="/signup">Sign up Now!</a>
                         </div>
                    </div>
      
               </div>
          </div>
      </section>
     <% } %> 

<%- include("footer") %>