<%- include("header") %>
<link rel="stylesheet" href="css/placement.css">
<!-- BODY -->

<section id="placement">
    <h2>Prepare for your</h2>
    <h1> Next Placement Drive,</h1>
      <h2>  before it's too late!</h2>
      <a href="#language" class="place-btn">Explore</a>
    

</section>

<section id="language">
<div class="container">
    <!--<ul class="list-inline">
    <li>-->
    <div class = "box" style="height: 330px;">
        <div class="content">
          <h2>01</h2>
          <h3 style="font-size: 32px;">Aptitude</h3>
            <p>Want to improve Your Aptitude Skills?</p>
            <a href="https://www.youtube.com/watch?v=o1FUBc2lITo&list=PL9PUK1zcTDBiTzmte-W4E3f91s68H3BAv">Resources</a><br>
           
        </div>
    </div>
    <div class = "box" style="height: 330px;">
        <div class="content">
            <h2>02</h2>
            <h3 style="font-size: 32px;">Dynamic Programming</h3>
            <p>Solve some standard dp question!</p>
            <a href="https://www.youtube.com/watch?v=94dfRrDANRY&list=PL-Jc9J83PIiG8fE6rj9F5a6uyQ5WPdqKy">Resources</a>
            
        </div>
    </div>
    <div class = "box" style="height: 330px;">
        <div class="content">
            <h2>03</h2>
            <h3 style="font-size: 32px;">Interviews</h3>
            <p>Frequently asked Interviews Question In Various Company!</p>
            <a href="https://www.geeksforgeeks.org/category/interview-experiences/">Resources</a>
            
        </div>
    </div>
    
    <div class = "box" style="height: 330px;">
        <div class="content">
            <h2>04</h2>
            <h3 style="font-size: 32px;">Must Do</h3>
            <p>300+ Coding Interviews question!</p>
            <a href="https://www.interviewbit.com/coding-interview-questions/">Resources</a>
            
        </div>
    </div>
</div>
</section>

<%- include("footer") %>