<%- include("header") %>

<link rel="stylesheet" href="css/preparation.css">



<section id="home-prep">
    <div class="row-prep">
      <div class="home-prep1">
                   <div class="item item-preparation">
                        <div class="caption-prep">
                             <div class="container">
                                  <div class="col-md">
                                       <h1><br><br>Start your journey of success</h1>
                                       <h1 class = "prep2">Various Platform to make <br>Placement easier for you</h1>
                                       <h3 class ="prep3">Want to know how hogaPlacement! can help you?</h3><br>
                                       <a href="#courses" class="preparation-btn">Know more</a>
                                  </div>
                             </div>
                        </div>
                   </div>
              </div>
    </div>
</section>
<br>
<section id="section2">
<h2> Preparing for campus placement is the initial step in preparing for a professional life ahead.</h2>
<h2>Campus placement paves a path for a better professional career ahead, hence campus placement preparation holds significance.</h2>
<hr class="style1">
<h1>What you will learn</h1>
<ul>
<li>Beginning from basics and moving on to advance concepts of programming languages</li>
<li>Concepts about OOPs</li>
<li>Mastering DSA from basic to Advanced</li>
<li>FAQ’s in interviews and how to crack them</li>
</ul>
</section>

<!-- Courses And Materials -->

<!-- ****  -->


<section id="courses">
<ul class = "list-inline">
<li>
<div class='flash working'>
     <div class='bg'>
       <div class='bg-icon'></div>
       <div class='bg-btns'></div>
     </div>
     <div class="inside1"><div class='inside'>
       <figure class='icon'>
         <svg viewBox='0 0 84 84'>
          <g fill='none'>
               <circle cx='42' cy='42' fill='#BDE3CA' r='42'></circle>
               <path d='M30,62 C33.0710678,65.0710678 37.3137085,66.9705627 42,66.9705627 C46.6862915,66.9705627 50.9289322,65.0710678 54,62' stroke-width='5' stroke='#5FB67D'></path>
               <circle cx='30' cy='42' fill='#5FB67D' r='3'></circle>
               <circle cx='54' cy='42' fill='#5FB67D' r='3'></circle>
             </g>
           
         </svg>
       </figure>
       <div><br><br>
         <h3>A PROGRAMMING LANGUAGE</h3>
        
       </div>
       <div class='btns'>
         <a href="/language"> <button>
               <svg viewBox='0 0 56 56'>
                 <g fill='none' stroke-width='4' stroke='#ADBBB2'>
                   <polyline points='31.5147186 19.5147186 40 28 31.5147186 36.4852814'></polyline>
                   <line x1='40' x2='16' y1='28' y2='28'></line>
                 </g>
               </svg>
             </button></a>
       </div>
     </div></div>

     
   </div> </li>

 <li><div class='flash working'>
     <div class='bg'>
       <div class='bg-icon'></div>
       <div class='bg-btns'></div>
     </div>
     <div class="inside2"><div class='inside'>
       <figure class='icon'>
         <svg viewBox='0 0 84 84'>
          <g fill='none'>
               <circle cx='42' cy='42' fill='#BDE3CA' r='42'></circle>
               <path d='M30,62 C33.0710678,65.0710678 37.3137085,66.9705627 42,66.9705627 C46.6862915,66.9705627 50.9289322,65.0710678 54,62' stroke-width='5' stroke='#5FB67D'></path>
               <circle cx='30' cy='42' fill='#5FB67D' r='3'></circle>
               <circle cx='54' cy='42' fill='#5FB67D' r='3'></circle>
             </g>
           
         </svg>
       </figure>
       <div><br><br>
         <h3>COMPETITIVE PROGRAMMING</h3>
       </div>
       <div class='btns'>
         <a href="/coding"> <button>
               <svg viewBox='0 0 56 56'>
                 <g fill='none' stroke-width='4' stroke='#ADBBB2'>
                   <polyline points='31.5147186 19.5147186 40 28 31.5147186 36.4852814'></polyline>
                   <line x1='40' x2='16' y1='28' y2='28'></line>
                 </g>
               </svg>
               <span>Skip</span>
             </button></a>
       </div>
     </div></div>
  </div></li>

  <li>
     <div class='flash working'>
          <div class='bg'>
            <div class='bg-icon'></div>
            <div class='bg-btns'></div>
          </div>
          <div class="inside3"><div class='inside'>
            <figure class='icon'>
              <svg viewBox='0 0 84 84'>
               <g fill='none'>
                    <circle cx='42' cy='42' fill='#BDE3CA' r='42'></circle>
                    <path d='M30,62 C33.0710678,65.0710678 37.3137085,66.9705627 42,66.9705627 C46.6862915,66.9705627 50.9289322,65.0710678 54,62' stroke-width='5' stroke='#5FB67D'></path>
                    <circle cx='30' cy='42' fill='#5FB67D' r='3'></circle>
                    <circle cx='54' cy='42' fill='#5FB67D' r='3'></circle>
                  </g>
                
              </svg>
            </figure>
            <div><br><br>
              <h3>CAMPUS PLACEMENT</h3>
              
            </div>
            <div class='btns'>
              <a href="/placement"> <button>
                    <svg viewBox='0 0 56 56'>
                      <g fill='none' stroke-width='4' stroke='#ADBBB2'>
                        <polyline points='31.5147186 19.5147186 40 28 31.5147186 36.4852814'></polyline>
                        <line x1='40' x2='16' y1='28' y2='28'></line>
                      </g>
                    </svg>
                    <span>Skip</span>
                  </button></a>
            </div>
          </div></div>
     
          
        </div> </li>

        <li>
          <div class='flash working'>
               <div class='bg'>
                 <div class='bg-icon'></div>
                 <div class='bg-btns'></div>
               </div>
               <div class="inside4"><div class='inside'>
                 <figure class='icon'>
                   <svg viewBox='0 0 84 84'>
                    <g fill='none'>
                         <circle cx='42' cy='42' fill='#BDE3CA' r='42'></circle>
                         <path d='M30,62 C33.0710678,65.0710678 37.3137085,66.9705627 42,66.9705627 C46.6862915,66.9705627 50.9289322,65.0710678 54,62' stroke-width='5' stroke='#5FB67D'></path>
                         <circle cx='30' cy='42' fill='#5FB67D' r='3'></circle>
                         <circle cx='54' cy='42' fill='#5FB67D' r='3'></circle>
                       </g>
                     
                   </svg>
                 </figure>
                 <div><br><br>
                   <h3>DEVELOPEMENT PROJECTS</h3>
                  
                 </div>
                 <div class='btns'>
                   <a href="/developement"> <button>
                         <svg viewBox='0 0 56 56'>
                           <g fill='none' stroke-width='4' stroke='#ADBBB2'>
                             <polyline points='31.5147186 19.5147186 40 28 31.5147186 36.4852814'></polyline>
                             <line x1='40' x2='16' y1='28' y2='28'></line>
                           </g>
                         </svg>
                         <span>Skip</span>
                       </button></a>
                 </div>
          </div>
          
           </div>    
      </div> </li>  

  </ul>

   </section>
   
 <!-- *****  -->



    

    




<%- include("footer") %>
